/* --- footer banner box --- */
.footer_banner_box_container {
}

.footer_banner_box_container .footer_banner_box:first-child {
    z-index: 3;
}

.footer_banner_box_container .footer_banner_box:last-child {
    z-index: 1;
}

.footer_banner_box h2, .footer_banner_box h2 a {
    color: #FFF;
}

.footer_banner_box a {
    color: #FFF;
    background-position: right center;
    padding-right: 17px;
}

.footer_banner_box.super_light_blue {
    background-color: #42B3E5;
}

.footer_banner_box.light_blue {
    background-color: #0384CE;
}

.footer_banner_box.blue {
    background-color: #3156A3;
}

.footer_banner_box .more.light {
    color: #FFF;
}

.footer_banner_box .more.light:hover {
    background-image: url('../images/icon_arrow_margin_right_white.png');
}

/* --- footer box --- */
.footer_box_container {
    margin-top: 30px;
}

.footer_box {
    float: left;
    width: 300px;
    padding-right: 30px;
    color: #909090;
}

.footer_box.last {
    width: 330px;
    padding-right: 0;
}

.footer_box p {
    color: #909090;
}

/* --- footer contact info --- */
.footer_contact_info_container {
    clear: both;
}

.footer_contact_info_row {
    clear: both;
    padding-top: 5px;
}

.footer_contact_info_row:first-child {
    padding-top: 0;
}

.footer_contact_info_left {
    float: left;
    width: 150px;
}

.footer_contact_info_right {
    float: right;
    width: 120px;
    margin-left: 20px;
}

/* --- opening hours --- */
.opening_hours {
    margin-top: 12px;
}

img {
    max-width: 100%
}

.background_image {
    background-size: cover;
    padding: 20px;
    background-position: center;
    width: 100%;
    background-image: url("../images/b1.jpg");
    margin-bottom: 20px;
}

.A_6 {
    color: white
}

ul, li {
    list-style-type: none;padding: 0;
}
.navbar{padding:0 !important;}