
img {
    max-width: 100%
}

.background_image {
    background-size: cover;
    padding: 20px;
    background-position: center;
    width: 100%;
    background-image: url("../images/b1.jpg");
    margin-bottom: 20px;
}

.A_6 {
    color: white
}

ul, li {
    list-style-type: none;padding: 0;
}
.navbar{padding:0 !important;}